main {
  min-height: 80vh;
}

h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

/* --- Navbar --- */
#navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px black;
}

/* --- Home Screen --- */
.homeScreenTitleRow {
  min-height: 30vh;
  align-items: flex-end;
}

#homeScreenTitleHeader {
  display: flex;
  justify-content: center;
  /* color: grey; */
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

#homeScreenForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}

.homeScreenControls {
  font-size: 1.2em;
}

#homeScreenCheckIn, #homeScreenCheckOut, #homeScreenAdults {
  margin-right: 10px;
}

#homeScreenSearch {
  width: 100px;
  height: 44px;
  margin-top: 31px;
}

/* --- Hotel List --- */
.hotelListRow {
  flex-direction: column;
}

.hotelListCol {
  margin: 10px 0;
}

.hotelListCard {
  padding: 10px;
}

.hotelListCard p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hotelListCard .address {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
}

.hotelListCard .description {
  font-size: 0.8em;
}

.hotelListCard .imgWrapper {
  height: 200px;
}

.hotelListCard .imgWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.hotelListCard .rating {
  display: inline;
}

.hotelListCard .card-title {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: bold;
  word-break: break-all;
}

.hotelListCard .card-title:hover {
  text-decoration: none;
}

.hotelListCard .card-title-wrap {
  display: flex;
  justify-content: space-between;
}

.hotelListCard .type {
  font-size: 0.8em;
  color: grey;
}

/* -------------------- */
/* --- Hotel Screen --- */
/* -------------------- */
#hotelCarousel .carousel-item-next,
#hotelCarousel .carousel-item-prev,
#hotelCarousel .carousel-item.active {
  display: flex;
  height: 400px;
}

#hotelCarousel.carousel img {
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hotelScreenTitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#hotelType {
  background-color: #c9c9c9;
  border-radius: 5px;
  padding: 3px;
  margin-right: 10px;
}

#hotelName {
  font-size: 1.5em;
  font-weight: bold;
}

.hotelScreenAddress {
  margin-bottom: 15px;
}

#roomCarousel .carousel-item-next,
#roomCarousel .carousel-item-prev,
#roomCarousel .carousel-item.active {
  display: flex;
  height: 250px;
}

#roomCarousel.carousel img {
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#roomToggleBtn {
  min-width: 250px;
  word-break: break-all;
  font-size: 0.95em;
}

.roomDetails {
  word-break: break-all;
  font-size: 0.95em;
}

#roomArea > *, #bookingArea > * {
  margin-bottom: 50px;
}

/* -------------------- */
/* --- Order Screen --- */
/* -------------------- */
#orderId {
  color: grey;
  padding-left: 20px;
}

#shippingDetails p {
  margin-bottom: 10px;
}

/* ------------------------------- */
/* --- Admin Hotel List Screen --- */
/* ------------------------------- */
.hotelListRightCol {
  display: flex;
  align-items: center;
}